.navbar-brand {
  @media screen and (max-width: 768px) {
    margin: auto 0 10px auto;
   }
}

.nav-group {
  display: flex;
  flex-direction: row;

   @media screen and (max-width: 768px) {
    margin: 10px 0;
    flex-direction: column;
    justify-content: center;
   }
}

.nav-group button {
  width: fit-content;
  margin: 0 auto;
}

.nav-border {
  position: absolute;
  left: 15%;
  align-self: center;
  width: 70%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 10;
}

.container-fluid {
  padding: 0 15%;
}

.wrapper-header {
  display: grid;
  align-items: center;
	height: 85vh;
	width: 100%;
	background-color: #007bff;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vh), 0% 100%);
}

.header-card {
  background-color: white;
  height: 62vh;
  width: 65%;
  border-radius: 12px 12px 60px;
  padding: 5%;
}